
.modal {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close-button {
    float: right;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }
  
  .color-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }
  